div {
	width: 200px;
	height: 200px;
	margin: 0px;
	padding: 0px;
}
.rosa {
	background-color: pink;
	position: absolute;
}
.azul {
	background-color: blue;
	position: absolute;
	margin-left: 1000px;
}
.verde {
	background-color: green;
	position: absolute;
	margin-top: 500px;
}
.yellow {
	background-color: yellow;
	position: absolute;
	margin-left: 1000px;
} 